@import "bootstrap-sprockets";
@import "bootstrap";

.article-detail {
  margin-top: 20px;
  color: #0000ff;
}

.article-detail-title {
  font-size: 3em;
  margin-bottom: 40px;
}

.article-body {
  font-size: 1.5em;
  padding-left: 0em;
  margin-top: 15px;
  margin-bottom: 15px;
}

